.hero-swiper {
  width: 100%;
  height: 500px;
}

.hero-swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eeeeee;
}

.hero-swiper img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}